<!DOCTYPE html>
<html>
<head>
  <title>ShopQiAppWebhook</title>
  <%= stylesheet_link_tag    "shopqi_app_webhook/application", :media => "all" %>
  <%= javascript_include_tag "shopqi_app_webhook/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
